<template>  
  <v-container>
    <v-row >  
      <v-col>

        <!-- TOOLBAR -->
        <v-row>
          <v-col class="d-flex" cols="12">
            <v-toolbar class="elevation-0">
              <v-toolbar-title>Editar Laboratorio</v-toolbar-title>
              <v-spacer></v-spacer>

              <!-- BTN ATRAS -->
              <v-btn 
                small
                class="ma-2" 
                color="blue lighten-2" 
                :to="{name:'catlab'}" 
                dark>Atras
              </v-btn>

              <!-- BTN GUARDAR -->
              
            </v-toolbar>
          </v-col>
          <v-col cols="12">
            <v-text-field
              label="Laboratorio"
              v-model="nomlab"
              validate-on-blur
              class="pa-0"  
              outlined hide-details 
            ></v-text-field>
          </v-col>
          <v-col cols="5" align="center">
            <v-btn 
	            small 
	            dark 
	            class="ma-2" 
	            @click.prevent="agregar"
	            color="blue darken-3">Grabar
	          </v-btn>
          </v-col>
          <v-col cols="12">
            <v-alert type="error" :value="alertaInput">
              {{alerta}}
            </v-alert>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
             
    <!-- SNACK BAR -->
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      :color="color" 
      >
      {{text}}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Cerrar
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    data () {
      return {
        existe: true,
        snackbar: false,
        text:'',
        color:'',

        nomlab:'',

        alerta:'',
        alertaInput: false
      }
    },


    computed: {
    	...mapGetters('productos',['getLab']),
      validaInfo(){
        return  this.nomlab    !==  ''
      },
    },

    created(){
      console.log(this.getLab)
      this.nomlab = this.getLab.nomlab
    },

    methods:{

      agregar(){
        this.alerta = ''
        if(!this.validaInfo){
          if(this.nomalb == ''){
            console.log(this.nomlab)
            this.alerta = this.alerta +`
            Asigna el nombre del laboratorio`
          }
          this.alertaInput = true
        }else{
          var payload = {
            nomlab:  this.nomlab,
            estatus: this.getLab.estatus
          }
          this.$http.put('admin/laboratorios.update/'+ this.getLab.idlaboratorios, payload).then(response=>{
            this.text  = 'Laboratorio actualizado'
            this.snackbar = true
            setTimeout(() => (this.$router.push({name: 'catlab'})), 1500)
          })
        }
      },

    }

  }

</script>