<template>
  <v-container>
    <v-row row wrap>

      <v-card width="100%" height="100%">
        <v-card-title primary-title class="pb-0">
          Catálogo de Entradas
          <v-spacer></v-spacer>
          <v-btn 
            class="ma-2" 
            small dark color="warning"
            @click="exportar()">
            <v-icon>save_alt</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-text-field
            dense
            v-model="search"
            append-icon="search"
            label="Buscar Productos"
            single-line
            hide-details
          ></v-text-field>


          <v-spacer></v-spacer>
          
          <!-- NUEVO -->
          <v-btn align="right" 
            color="primary" dark small 
            class="ma-2" 
            :to="{ name: 'newentrada' }" >Nuevo
          </v-btn>

          <!-- BOTON EXCEL -->
          
        </v-card-title>
        <v-card-text class="pb-0">
          <v-row class="pb-0">
            <v-col cols="6" class="pb-0">
              <v-menu
                class="pb-0"
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :return-value.sync="inicio"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    dense
                    v-model="inicio"
                    label="Fecha de inicio"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                    hide-details

                  ></v-text-field>
                </template>
                <v-date-picker v-model="inicio" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.menu.save(inicio)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="6">
              <v-menu
                ref="menu2"
                v-model="menu2"
                :close-on-content-click="false"
                :return-value.sync="fin"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    dense
                    v-model="fin"
                    label="Fecha de fin"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                    hide-details
                  ></v-text-field>
                </template>
                <v-date-picker v-model="fin" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu2 = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.menu2.save(fin)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="3">
              <v-btn color="success" @click="filtroFechas" small><v-icon>search</v-icon></v-btn>
            </v-col>
            <v-col cols="3">
              <v-btn color="success" @click="init" small>All</v-btn>
            </v-col>
          </v-row>
        </v-card-text>
              
        <v-data-table
          calculate-widths
          :loading="loading"        
          :headers="headers"
          :items="entradas"
          class="elevation-1"
          height="450"
          hide-default-footer
          loading-text="Cargando..."
          dense
          :search="search"
          :items-per-page="longitud"
          :mobile-breakpoint="250"

        >
          <template v-slot:item="{ item }" >
           <tr v-on:dblclick="edit(item.codigo)">
             <td>{{ item.nomart}}</td>
             <td>{{ item.fechaentr.substr(0, 10) }}</td>
             <td>{{ item.lote }}</td>
             <td>{{ item.cant }}</td>
             <td>{{ item.caducidad.substr(0, 10) }}</td>
             <td>{{ item.proveedor }}</td>
             <td>{{ item.factura }}</td>
             <td><v-btn icon @click="edit(item)"><v-icon>edit</v-icon></v-btn></td>
           </tr>
                   
         </template>
          <!-- STATUSWEB -->
          <template v-slot:no-data>
            <v-alert type="info" color="primary" outlined :value="true">
              No hay datos para mostrar
            </v-alert>
          </template>
        </v-data-table>
      </v-card>
    </v-row>  
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      color="success" 
      >
      {{text}}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Cerrar
      </v-btn>
    </v-snackbar>
  </v-container>
</template>


<script>
  import {mapActions, mapGetters} from 'vuex'
  import XLSX from 'xlsx'
  
  export default {
    data: () => ({
      inicio:new Date().toISOString().substr(0, 10),
      fin:new Date().toISOString().substr(0, 10),
      menu: false,
      menu2: false,

      text:'',
      snackbar: false,

      loading: true,
      longitud:5,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      search:'',
      entradas:[],
      headers: [
        { text: 'Nombre', align: 'left',sortable: false, value: 'nomart'},
        { text: 'Fecha', value: 'fechaentr' },
        { text: 'Lote', value: 'lote' },
        { text: 'Cantidad', value: 'cant' },
        { text: 'Caducidad', value: 'caducidad' },
        { text: 'Proveedor', value: 'proveedor' },
        { text: 'Factura', value: 'factura' },
        { text: 'Editar', value: '' },

      ],
    }),

    created(){
      this.init()
    },

    methods:{
      ...mapActions('productos',['traerProductos','addImg','verEntrada']),

      init(){
        this.entradas= []

        this.$http.get('entradas.list').then(response =>{
          if(response == null){
            this.loading = false
            this.entradas = []
          }else{
            this.loading = false
            this.entradas = response.body
            this.longitud = this.entradas.length
          }
        })
      },

      // EXCEL
      exportar(){
        let xls = {
          data:      this.entradas,
          tHeaders : ['Nombre', 'Fecha', 'Lote', 'Cantidad', 'Caducidad'],
          filterVal: ['nomart', 'fechaentr', 'lote', 'cant', 'caducidad'],
          nomfile :  "Entradas"
        }
        this.exportExcel()
      },

      s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
        return buf;
      },

      exportExcel(){
        this.entradas.sort((a , b)=>{
          if (a.nomart > b.nomart) {
            return 1;
          }
          if (a.nomart < b.nomart) {
            return -1;
          }
          // a must be equal to b
          return 0;
        });
        let data = XLSX.utils.json_to_sheet(this.entradas)
        const workbook = XLSX.utils.book_new()
        const filename = 'Entradas'
        XLSX.utils.book_append_sheet(workbook, data, filename)

        var wbout = XLSX.write(workbook, {
          bookType: 'xls',
          bookSST: false,
          type: 'binary'
        });

        const file = new File([new Blob([this.s2ab(wbout)])], filename + '.xls')
        console.log(file)
        
        let formData = new FormData();
        // //se crea el objeto y se le agrega como un apendice el archivo 
        formData.append('file',file);
        // /*Initialize the form data*/
        console.log('formData', formData)


        this.$http.post('pdfs',formData).then(response=> {
          alert(response.body)
          window.location = this.$http.options.root + 'pdfs/' + filename + '.xls'
        }).catch(error=> {
          alert(error.body)
          console.log(error);
        });

      },

      filtroFechas(){
        this.entradas= []

        var payload = {
          inicio: this.inicio,
          fin:    this.fin
        }
        this.$http.post('entradas.fecha',payload).then(response =>{
          if(response == null){
            this.loading = false
            this.entradas = []
          }else{
            this.loading = false
            this.entradas = response.body
            this.longitud = this.entradas.length
          }
        })
      },

      edit(item){
        this.verEntrada(item)
        this.$router.push({name:'verentrada'})
      }
    },

    computed:{
      ...mapGetters('productos',['getProductos'])
    }

  }
</script>





