<template>  
  <v-container>
    <v-row >  
      <v-col>

        <!-- TOOLBAR -->
        <v-row>
          <v-col class="d-flex" cols="12">
            <v-toolbar class="elevation-0">
              <v-toolbar-title>Nuevo Artículo</v-toolbar-title>
              <v-spacer></v-spacer>

              <!-- BTN ATRAS -->
              <v-btn 
                small
                class="ma-2" 
                color="blue lighten-2" 
                :to="{name:'catproductos'}" 
                dark>Atras
              </v-btn>

              <!-- BTN GUARDAR -->
              <v-btn 
                v-if="existe == false"
                small 
                dark 
                class="ma-2" 
                @click.prevent="agregar"
                color="blue darken-3">Grabar
              </v-btn>
            </v-toolbar>
          </v-col>
          <v-col cols="9">
            <v-text-field
              clearable
              label="Código"
              v-model="codigo"
              validate-on-blur
              class="pa-0"  
              outlined hide-details 
            ></v-text-field>
          </v-col>
          <v-col cols="2" align="center">
            <v-btn color="primary" rounded @click="openScan"><v-icon>search</v-icon></v-btn>
          </v-col>
          <v-col  cols="12">
            <v-text-field
              v-if="existe == false"
              label="Nombre del artículo"
              v-model="nomart"
              outlined 
              hide-details 
            ></v-text-field>
          </v-col>
          <v-col  cols="12">
            <v-textarea
              v-if="existe == false"
              label="Compuesto"
              v-model="sal"
              outlined 
              hide-details 
              >
              
            </v-textarea>
          </v-col>
          <v-col  cols="12">
            <v-select 
              outlined
              v-if="existe == false"
              :items="laboratorios"
              v-model="laboratorio"
              :hint="` ${laboratorio.idlaboratorios}`"
              item-text="nomlab"
              item-value="idlaboratorios" 
              label="Laboratorio"
              persistent-hint
              return-object
              single-line
            ></v-select>
          </v-col>
          <v-col cols="12">
            <v-alert type="error" :value="alertaInput">
              {{alerta}}
            </v-alert>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
             
    <!-- SNACK BAR -->
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      :color="color" 
      >
      {{text}}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Cerrar
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>

  export default {
    data () {
      return {
        laboratorios:[],
        laboratorio: {nomlab:'', idlaboratorios:''},
        existe: true,

        snackbar: false,
        text:'',
        color:'',

        codigo:'',
        result2:'',
        nomart:'',
        sal:'',
        lab:'',

        alerta:'',
        alertaInput: false
      }
    },

    created(){
      this.$http.get('movil/laboratorios.list').then(response=>{
        if(response.body.length > 0){
          this.laboratorios = response.body
        }
      }).catch(error=>{
        console.log('error',error)
      })
    },

    computed: {
      validaInfo(){
        return  this.nomart               !==  '' && 
                this.sal                  !==  '' &&       
                this.laboratorio.nomlab   !==  '' &&
                this.codigo               !==  '' 
      },
    },
      
    watch:{
      codigo(){
        this.$http.get('articulos.codigo/'+ this.codigo).then(response=>{
          if(response.body.length > 0){
            console.log(response.body)
            this.existe = true
            this.text = 'Producto ya existente'
            this.snackbar = true
          }else{
            this.existe = false
          }
        }).catch(error=>{
          this.existe = false
          console.log('error',error)
        })
      }
    },

    methods:{

      openScan(){

        cordova.plugins.barcodeScanner.scan(result=>{
          this.codigo = result.text
        },error=>{
          alert("Scanning failed: " + error);
        })

        cordova.plugins.barcodeScanner.encode(BarcodeScanner.Encode.TEXT_TYPE, "http://www.nytimes.com", success =>{
          alert("encode success: " + success);
        }, fail=>{
          alert("encoding failed: " + fail);
        })
      },

      agregar(){
        this.alerta = ''
        if(!this.validaInfo){
          if(!this.codigo){
            this.alerta = `No has asignado un codigo al articulo`
          }
          if(!this.nomart){
            this.alerta = this.alerta +`
            No has asignado un nombre al articulo`
          }
          if(!this.sal){
            this.alerta = this.alerta +`
            No has asignado un compuesto  al articulo`
          }
          if(!this.laboratorio.nomlab){
            this.alerta = this.alerta +`
            No has asignado un laboratorio al articulo`
          }
          this.alertaInput = true
          console.log(this.validaInfo)
        }else{
          var payload = {
            nomart:         this.nomart,
            codigo:         this.codigo,
            sal:            this.sal,
            lab:            this.lab,
            idlaboratorio:  this.laboratorio.idlaboratorios
          }
          this.$http.post('articulos.add', payload).then(response=>{
            this.text  = 'Artículo agregado'
            this.snackbar = true
            setTimeout(() => (this.$router.push({name: 'catproductosalm'})), 1500)
          })
        }
      }



    }

  }

</script>