<template>
  <v-container>
     <v-snackbar
      v-model="snackbar"
      :timeout="4000"
      top
      :color="color" 
      >
      {{text}}
      <v-btn
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    
    <v-row justify="center">
      <v-col cols="12" xl="6" lg="6" md="6" sm="6">
        <v-card  align="center" class=" contenido elevation-8 " >
          <v-img src="http://surtimedix.com/imagenes/logo.png" width="100%"/>
          <span class="titulo"> ¡LISTO!, EL USARIO A SIDO ACTIVADO </span>
          
          <v-divider class="mx-1 mt-3"></v-divider>

          <v-btn outlined block color="primary " class="mt-2" href="http://surtimedix.com/#/">Inicia Sesión en tu App</v-btn>
    
          <v-divider class="mx-1 mt-2"></v-divider>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        snackbar: false,
        id: '',
        logo:'',
        color:'',
        text:''
      }
    },

    created () {
      console.log(this.$route.params.id)
      this.id = this.$route.params.id
      this.activarcorreo()

    },
     methods:{
      activarcorreo(id){
        var me = this
        
        this.$http.put('users.activar/' + this.id).then(function(response){
          this.text = 'Usuario activado'
          this.color = 'success'
          this.snackbar = true 
        })
      },

     }
  };
</script>

<style scoped>
.contenido{
  padding: 48px;  
}

.titulo{
  font-family: black;
  font-size: 30px;
}

.sait{
  font-family: black;
  font-size: 18px
}

.infoEmpresa{
  font-size: 11px
}
</style>